header,.header{
	background: var(--primary-white);
	display: flex;
	justify-content: space-between;
	padding: 32px 0;
	padding-right: 42px;
	position: fixed;
	width: calc(100% - 84px);
	z-index: 100;
}
header>div,nav{
	display: flex;
	gap: 24px;
}
nav{
	gap: 42px;
}
nav>a{
	cursor: pointer;
}
nav>a:hover{
	border-bottom: var(--border-width) var(--border-style) var(--primary-main-color);
	box-sizing: border-box;
}
.header{
	position: relative !important;
}
.mobileMenu{
	
}