:root{
	--primary-main-color: #1D1D1D;
	--primary-color-grey: #EAEAE8;
	--primary-white: white;
	--border-width: 1px;
	--border-style: solid;
	--label-bestseller: #D9D6B0;
	--label-limited-edition: #D4B0D9;
}
@font-face{
	font-family: Inter;
	src: url('./static/Inter-VariableFont_opsz,wght.ttf');
}
*{
	margin: 0;
	padding: 0;
	font-family: Inter;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.01em;
	text-transform: uppercase;
	color: var(--primary-main-color);
}
.large{
	font-family: Inter;
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0em;
}
H1{
	font-family: Inter;
	font-weight: bold;
	font-size: 42px;
	line-height: 120%;
	letter-spacing: -0.02em;
}
a{
	text-decoration: none;
}
body{
	padding: 0 42px;
	padding-bottom: 42px;
}
img{
	max-width: 100%;
	height: auto;
}
select{
	border: 0;
}
main{
	display: flex;
	gap: 64px;
	flex-direction: column;
}
dialog{
	margin: auto;
	height: 620px;
	width: 840px;
	padding: 32px;
	border: none;
	outline: none;
	border-radius: 8px;
	background: var(--primary-color-grey);
}
dialog[open]{
	display: flex;
}
dialog::backdrop{
	background: var(--primary-main-color);
	opacity: 0.3;
}
dialog>.menu{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: calc(100% - 64px);
}
dialog>img{
	height: 100%;
	margin: auto;
}
.headline{
	display: flex;
	gap: 24px;
	flex-direction: row;
	justify-content: center;
}
.headline>p{
	display: inline;
}
.products{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
}
.card{
	padding: 20px;
	background: var(--primary-color-grey);
	border-radius: 6px;
	position: relative;
}
.banner{
	background: url('./static/BANNER.jpg');
	background-size: cover;
	background-position: center;
	border-radius: 6px;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	padding: 32px 96px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.bannerButton>button{
	padding: 12px 48px;
	background: var(--primary-white);
	border-radius: 6px;
	border: 0;
	cursor: pointer;
	display: inline;
}
.card>.favorite{
	height: 24px;
	width: 24px;
}
.favorite{
	position: absolute;
	top: 16px;
	right: 16px;
	cursor: pointer;
}
.close{
	display: flex;
	flex-direction: row;
	gap: 8px;
	outline: none;
	background: transparent;
	border: none;
	cursor: pointer;
}
.tag{
	position: absolute;
	top: 16px;
	left: 16px;
	padding: 4px 12px;
	border-radius: 1000px;
}
.bestSeller{
	background: var(--label-bestseller);
}
.limitedEdition{
	background: var(--label-limited-edition);
}
@media only screen and (max-width: 600px){
	.large{
		font-size: 18px;
	}
	H1{
		font-size: 32px;
	}
	.hideOnMobile{
		display: none;
	}
	.products{
		grid-template-columns: repeat(2, 1fr);
	}
	.banner{
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		height: 498px;
	}
	body{
		padding: 0 16px;
	}
	.banner{
		padding: 32px 24px;
	}
}
@media only screen and (min-width: 600px){
	.showOnMobile{
		display: none;
	}
}