@font-face{
	font-family: 'forma';
	src: url('./forma.ttf?cti9mf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
[class^="icon-"], [class*=" icon-"], .path1, .path2, .path3 {
	font-family: 'forma' !important;
	speak: never;
  font-size: 22px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
  line-height: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-FAV-ICONFill:before {
  content: "\e908";
}
.icon-FORMA-ICONFill .path1:before {
  content: "\e909";
  color: rgb(29, 29, 29);
}
.icon-FORMA-ICONFill .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-FORMA-ICONFill .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Arrow:before {
  content: "\e900";
}
.icon-Chevron_down:before {
  content: "\e901";
}
.icon-Chevron_right:before {
  content: "\e902";
}
.icon-Close:before {
  content: "\e903";
}
.icon-Forma_icon:before {
  content: "\e904";
}
.icon-Forma_icon:hover:before{
  content: '';
}
.icon-Forma_icon>span{
  display: none;
}
.icon-Forma_icon:hover>span{
  display: inherit;
}
.icon-Icon_favorite:before {
  content: "\e905";
}
.icon-Icon_favorite:hover:before {
  content: "\e908";
}
.icon-Icon_user:before {
  content: "\e906";
}
.icon-Menu_hamburger:before {
  content: "\e907";
}